In [1]:
# Import pandas
import pandas as pd

In [2]:
# Get, read, and turn csv into dataframe

# Skiprows skips the first 3 rows the csv.
disposable_df = pd.read_csv("Resources/disposable_income.csv", skiprows=3)
personal_df = pd.read_csv("Resources/personal_income.csv")

In [3]:
# Display initial disposable_df
disposable_df.head()

,GeoFips,GeoName,LineCode,Description,1929,1930,1931,1932,1933,1934,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,United States,1,Personal income (millions of dollars),85151,76394,65531,50162,47114,53967,...,13315478,13998383,14175503,14982715,15717140,16151881,16937582,17839255,18542262,19679715.1
1,0,United States,2,Population (persons) 1/,121769000,123075000,124038000,124839000,125580000,126372000,...,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123.0
2,0,United States,3,Per capita personal income (dollars) 2/,699,621,528,402,375,427,...,42735,44598,44851,47058,49003,49995,52096,54581,56474,59729.0

In [4]:
# Display initial personal_df
personal_df.head()

,GeoFips,GeoName,LineCode,Description,1948,1949,1950,1951,1952,1953,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,United States *,51,Disposable personal income (millions of dollars),192363,192342,213991.6,235454.7,248561.8,264125.9,...,11863823,12490913,12501275,13200377,13779697,14196265,14894009,15757141,16342277,17489158.1
1,0,United States *,52,Population (persons) 1/,146091000,148666000,151871000.0,153970000.0,156369000.0,158946000.0,...,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123.0
2,0,United States *,53,Per capita disposable personal income (dollars...,1317,1294,1409.0,1529.0,1590.0,1662.0,...,38076,39795,39553,41460,42962,43942,45811,48211,49774,53080.0

In [5]:
# Cleanup for disposable_df

# Remove first three columns
disposable_df = disposable_df.drop(disposable_df[["GeoFips", "GeoName", "LineCode"]], axis=1)

# Swap dataframe rows and columns using transpose function
disposable_df = disposable_df.T

# Rename column headers as row 1 (personal inc, pop., per capita)
# Drop row 1
disposable_df = disposable_df.rename(columns=disposable_df.iloc[0])
disposable_df = disposable_df.drop(disposable_df.index[0])

# Rename column headers, remove footnote markers from original document
disposable_df = disposable_df.rename(columns={
    "Personal income (millions of dollars)": "Personal Income (Millions of Dollars)",
    "Population (persons) 1/": "Population (No. of People)",
    "Per capita personal income (dollars) 2/": "Per Capita Personal Income (Dollars)"
})

# Format cells (add commas, dollar signs)
disposable_df["Personal Income (Millions of Dollars)"] = disposable_df["Personal Income (Millions of Dollars)"].map("${:,.2f}".format)
disposable_df["Population (No. of People)"] = disposable_df["Population (No. of People)"].map("{:,}".format)
disposable_df["Per Capita Personal Income (Dollars)"] = disposable_df["Per Capita Personal Income (Dollars)"].map("${:,}".format)

# Remove years 1929 to 1968
for x in range(1929, 1969):
    disposable_df = disposable_df.drop(f"{x}")
    
# Remove 2020 from df
disposable_df = disposable_df.drop(f"2020")

# Display cleaned disposable_df
disposable_df.head()

,Personal Income (Millions of Dollars),Population (No. of People),Per Capita Personal Income (Dollars)
1969,"$791,229.00","201,298,000","$3,931"
1970,"$855,525.00","203,798,722","$4,198"
1971,"$924,613.00","206,817,509","$4,471"
1972,"$1,016,408.00","209,274,882","$4,857"
1973,"$1,133,468.00","211,349,205","$5,363"

In [6]:
# Cleanup for personal_df. Mostly reuses code from disposable_df cleanup,
# as both csvs are from the same source and are similarly formatted. 

# Remove first three columns
personal_df = personal_df.drop(personal_df[["GeoFips", "GeoName", "LineCode"]], axis=1)

# Swap dataframe rows and columns using transpose function
personal_df = personal_df.T

# Rename column headers as row 1 (personal inc, pop., per capita)
# Drop row 1
personal_df = personal_df.rename(columns=personal_df.iloc[0])
personal_df = personal_df.drop(personal_df.index[0])

# Rename column headers, remove footnote markers from original document
personal_df = personal_df.rename(columns={
    "Disposable personal income (millions of dollars)": "Disposable Personal Income (Millions of Dollars)",
    "Population (persons) 1/": "Population (No. of People)",
    "Per capita disposable personal income (dollars) 2/": "Per Capita Disposable Personal Income (Dollars)"
})

# Format cells (add commas, dollar signs)
personal_df["Disposable Personal Income (Millions of Dollars)"] = personal_df["Disposable Personal Income (Millions of Dollars)"].map("${:,.2f}".format)
personal_df["Population (No. of People)"] = personal_df["Population (No. of People)"].map("{:,}".format)
personal_df["Per Capita Disposable Personal Income (Dollars)"] = personal_df["Per Capita Disposable Personal Income (Dollars)"].map("${:,}".format)

# Remove years 1948 to 1968
for x in range(1948, 1969):
    personal_df = personal_df.drop(f"{x}", axis=0)
    
# Remove 2020 from df
personal_df = personal_df.drop(f"2020", axis=0)

# Display cleaned disposable_df
personal_df

,Disposable Personal Income (Millions of Dollars),Population (No. of People),Per Capita Disposable Personal Income (Dollars)
1969,"$687,425.00","201,298,000","$3,415"
1970,"$753,099.00","203,798,722","$3,695"
1971,"$823,437.00","206,817,509","$3,981"
1972,"$893,321.00","209,274,882","$4,269"
1973,"$1,001,571.00","211,349,205","$4,739"
1974,"$1,094,397.00","213,333,635","$5,130"
1975,"$1,215,359.00","215,456,585","$5,641"
1976,"$1,323,488.00","217,553,859","$6,083"
1977,"$1,454,268.00","219,760,875","$6,618"
1978,"$1,626,753.00","222,098,244","$7,324"
1979,"$1,805,001.00","224,568,579","$8,038"
1980,"$2,014,396.00","227,224,719","$8,865"
1981,"$2,248,034.00","229,465,744","$9,797"
1982,"$2,426,023.00","231,664,432","$10,472"
1983,"$2,616,717.00","233,792,014","$11,192"
1984,"$2,902,515.00","235,824,907","$12,308"
1985,"$3,093,703.00","237,923,734","$13,003"
1986,"$3,282,912.00","240,132,831","$13,671"
1987,"$3,458,192.00","242,288,936","$14,273"
1988,"$3,763,033.00","244,499,004","$15,391"
1989,"$4,043,179.00","246,819,222","$16,381"
1990,"$4,304,512.00","249,622,814","$17,244"
1991,"$4,479,825.00","252,980,941","$17,708"
1992,"$4,798,176.00","256,514,224","$18,705"
1993,"$5,000,936.00","259,918,588","$19,240"
1994,"$5,247,927.00","263,125,821","$19,945"
1995,"$5,538,573.00","266,278,393","$20,800"
1996,"$5,836,986.00","269,394,284","$21,667"
1997,"$6,156,053.00","272,646,925","$22,579"
1998,"$6,570,164.00","275,854,104","$23,818"
1999,"$6,890,679.00","279,040,168","$24,694"
2000,"$7,415,075.00","282,162,411","$26,279"
2001,"$7,763,912.00","284,968,955","$27,245"
2002,"$8,104,480.00","287,625,193","$28,177"
2003,"$8,478,455.00","290,107,933","$29,225"
2004,"$8,981,157.00","292,805,298","$30,673"
2005,"$9,382,761.00","295,516,599","$31,750"
2006,"$10,017,121.00","298,379,912","$33,572"
2007,"$10,511,373.00","301,231,207","$34,895"
2008,"$10,932,716.00","304,093,966","$35,952"
2009,"$10,900,400.00","306,771,529","$35,533"
2010,"$11,305,991.00","309,327,143","$36,550"
2011,"$11,863,823.00","311,583,481","$38,076"
2012,"$12,490,913.00","313,877,662","$39,795"
2013,"$12,501,275.00","316,059,947","$39,553"
2014,"$13,200,377.00","318,386,329","$41,460"
2015,"$13,779,697.00","320,738,994","$42,962"
2016,"$14,196,265.00","323,071,755","$43,942"
2017,"$14,894,009.00","325,122,128","$45,811"
2018,"$15,757,141.00","326,838,199","$48,211"
2019,"$16,342,277.00","328,329,953","$49,774"

In [7]:
# Combine the personal and disposable dfs
combined_income_df = pd.merge(personal_df, disposable_df, how="outer", left_index=True, right_index=True)

In [8]:
# Drop one of the population columns, and rename the other population column,
# and re-order df columns to make more sense
combined_income_df = combined_income_df.drop(columns=["Population (No. of People)_y"])
combined_income_df = combined_income_df.rename(columns={"Population (No. of People)_x": "Population (No. of People)"})
combined_income_df = combined_income_df[[
    "Population (No. of People)",
    "Disposable Personal Income (Millions of Dollars)",
    "Personal Income (Millions of Dollars)",
    "Per Capita Disposable Personal Income (Dollars)",
    "Per Capita Personal Income (Dollars)"
]]

# Make index column name "year"
combined_income_df.index.name = "Year"

combined_income_df

,Population (No. of People),Disposable Personal Income (Millions of Dollars),Personal Income (Millions of Dollars),Per Capita Disposable Personal Income (Dollars),Per Capita Personal Income (Dollars)
Year,,,,,
1969,"201,298,000","$687,425.00","$791,229.00","$3,415","$3,931"
1970,"203,798,722","$753,099.00","$855,525.00","$3,695","$4,198"
1971,"206,817,509","$823,437.00","$924,613.00","$3,981","$4,471"
1972,"209,274,882","$893,321.00","$1,016,408.00","$4,269","$4,857"
1973,"211,349,205","$1,001,571.00","$1,133,468.00","$4,739","$5,363"
1974,"213,333,635","$1,094,397.00","$1,244,912.00","$5,130","$5,836"
1975,"215,456,585","$1,215,359.00","$1,362,505.00","$5,641","$6,324"
1976,"217,553,859","$1,323,488.00","$1,495,704.00","$6,083","$6,875"
1977,"219,760,875","$1,454,268.00","$1,651,632.00","$6,618","$7,516"
1978,"222,098,244","$1,626,753.00","$1,855,849.00","$7,324","$8,356"
1979,"224,568,579","$1,805,001.00","$2,073,257.00","$8,038","$9,232"
1980,"227,224,719","$2,014,396.00","$2,313,160.00","$8,865","$10,180"
1981,"229,465,744","$2,248,034.00","$2,592,915.00","$9,797","$11,300"
1982,"231,664,432","$2,426,023.00","$2,779,794.00","$10,472","$11,999"
1983,"233,792,014","$2,616,717.00","$2,968,676.00","$11,192","$12,698"
1984,"235,824,907","$2,902,515.00","$3,279,488.00","$12,308","$13,906"
1985,"237,923,734","$3,093,703.00","$3,510,471.00","$13,003","$14,755"
1986,"240,132,831","$3,282,912.00","$3,719,647.00","$13,671","$15,490"
1987,"242,288,936","$3,458,192.00","$3,946,593.00","$14,273","$16,289"
1988,"244,499,004","$3,763,033.00","$4,267,813.00","$15,391","$17,455"
1989,"246,819,222","$4,043,179.00","$4,609,667.00","$16,381","$18,676"
1990,"249,622,814","$4,304,512.00","$4,897,821.00","$17,244","$19,621"
1991,"252,980,941","$4,479,825.00","$5,067,291.00","$17,708","$20,030"
1992,"256,514,224","$4,798,176.00","$5,409,920.00","$18,705","$21,090"
1993,"259,918,588","$5,000,936.00","$5,648,732.00","$19,240","$21,733"
1994,"263,125,821","$5,247,927.00","$5,940,128.00","$19,945","$22,575"
1995,"266,278,393","$5,538,573.00","$6,286,143.00","$20,800","$23,607"
1996,"269,394,284","$5,836,986.00","$6,673,186.00","$21,667","$24,771"
1997,"272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
1998,"275,854,104","$6,570,164.00","$7,601,594.00","$23,818","$27,557"
1999,"279,040,168","$6,890,679.00","$8,001,563.00","$24,694","$28,675"
2000,"282,162,411","$7,415,075.00","$8,650,325.00","$26,279","$30,657"
2001,"284,968,955","$7,763,912.00","$9,001,839.00","$27,245","$31,589"
2002,"287,625,193","$8,104,480.00","$9,155,663.00","$28,177","$31,832"
2003,"290,107,933","$8,478,455.00","$9,480,901.00","$29,225","$32,681"
2004,"292,805,298","$8,981,157.00","$10,028,781.00","$30,673","$34,251"
2005,"295,516,599","$9,382,761.00","$10,593,946.00","$31,750","$35,849"
2006,"298,379,912","$10,017,121.00","$11,372,589.00","$33,572","$38,114"
2007,"301,231,207","$10,511,373.00","$12,002,204.00","$34,895","$39,844"
2008,"304,093,966","$10,932,716.00","$12,438,527.00","$35,952","$40,904"
2009,"306,771,529","$10,900,400.00","$12,051,307.00","$35,533","$39,284"
2010,"309,327,143","$11,305,991.00","$12,541,995.00","$36,550","$40,546"
2011,"311,583,481","$11,863,823.00","$13,315,478.00","$38,076","$42,735"
2012,"313,877,662","$12,490,913.00","$13,998,383.00","$39,795","$44,598"
2013,"316,059,947","$12,501,275.00","$14,175,503.00","$39,553","$44,851"
2014,"318,386,329","$13,200,377.00","$14,982,715.00","$41,460","$47,058"
2015,"320,738,994","$13,779,697.00","$15,717,140.00","$42,962","$49,003"
2016,"323,071,755","$14,196,265.00","$16,151,881.00","$43,942","$49,995"
2017,"325,122,128","$14,894,009.00","$16,937,582.00","$45,811","$52,096"
2018,"326,838,199","$15,757,141.00","$17,839,255.00","$48,211","$54,581"
2019,"328,329,953","$16,342,277.00","$18,542,262.00","$49,774","$56,474"

In [9]:
# Export dataframe to csv
combined_income_df.to_csv("Output/income_vs_year.csv")