In [1]:
# Setup
import pandas as pd

In [2]:
# Get, read, and turn csv into dataframe
income_df = pd.read_csv("Resources/income_vs_year.csv")
gdp_df = pd.read_csv("Resources/GDP_1969_2020.csv")

In [3]:
# Show initial income_df
income_df

,Year,Population (No. of People),Disposable Personal Income (Millions of Dollars),Personal Income (Millions of Dollars),Per Capita Disposable Personal Income (Dollars),Per Capita Personal Income (Dollars)
0,1969,"201,298,000","$687,425.00","$791,229.00","$3,415","$3,931"
1,1970,"203,798,722","$753,099.00","$855,525.00","$3,695","$4,198"
2,1971,"206,817,509","$823,437.00","$924,613.00","$3,981","$4,471"
3,1972,"209,274,882","$893,321.00","$1,016,408.00","$4,269","$4,857"
4,1973,"211,349,205","$1,001,571.00","$1,133,468.00","$4,739","$5,363"
5,1974,"213,333,635","$1,094,397.00","$1,244,912.00","$5,130","$5,836"
6,1975,"215,456,585","$1,215,359.00","$1,362,505.00","$5,641","$6,324"
7,1976,"217,553,859","$1,323,488.00","$1,495,704.00","$6,083","$6,875"
8,1977,"219,760,875","$1,454,268.00","$1,651,632.00","$6,618","$7,516"
9,1978,"222,098,244","$1,626,753.00","$1,855,849.00","$7,324","$8,356"
10,1979,"224,568,579","$1,805,001.00","$2,073,257.00","$8,038","$9,232"
11,1980,"227,224,719","$2,014,396.00","$2,313,160.00","$8,865","$10,180"
12,1981,"229,465,744","$2,248,034.00","$2,592,915.00","$9,797","$11,300"
13,1982,"231,664,432","$2,426,023.00","$2,779,794.00","$10,472","$11,999"
14,1983,"233,792,014","$2,616,717.00","$2,968,676.00","$11,192","$12,698"
15,1984,"235,824,907","$2,902,515.00","$3,279,488.00","$12,308","$13,906"
16,1985,"237,923,734","$3,093,703.00","$3,510,471.00","$13,003","$14,755"
17,1986,"240,132,831","$3,282,912.00","$3,719,647.00","$13,671","$15,490"
18,1987,"242,288,936","$3,458,192.00","$3,946,593.00","$14,273","$16,289"
19,1988,"244,499,004","$3,763,033.00","$4,267,813.00","$15,391","$17,455"
20,1989,"246,819,222","$4,043,179.00","$4,609,667.00","$16,381","$18,676"
21,1990,"249,622,814","$4,304,512.00","$4,897,821.00","$17,244","$19,621"
22,1991,"252,980,941","$4,479,825.00","$5,067,291.00","$17,708","$20,030"
23,1992,"256,514,224","$4,798,176.00","$5,409,920.00","$18,705","$21,090"
24,1993,"259,918,588","$5,000,936.00","$5,648,732.00","$19,240","$21,733"
25,1994,"263,125,821","$5,247,927.00","$5,940,128.00","$19,945","$22,575"
26,1995,"266,278,393","$5,538,573.00","$6,286,143.00","$20,800","$23,607"
27,1996,"269,394,284","$5,836,986.00","$6,673,186.00","$21,667","$24,771"
28,1997,"272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
29,1998,"275,854,104","$6,570,164.00","$7,601,594.00","$23,818","$27,557"
30,1999,"279,040,168","$6,890,679.00","$8,001,563.00","$24,694","$28,675"
31,2000,"282,162,411","$7,415,075.00","$8,650,325.00","$26,279","$30,657"
32,2001,"284,968,955","$7,763,912.00","$9,001,839.00","$27,245","$31,589"
33,2002,"287,625,193","$8,104,480.00","$9,155,663.00","$28,177","$31,832"
34,2003,"290,107,933","$8,478,455.00","$9,480,901.00","$29,225","$32,681"
35,2004,"292,805,298","$8,981,157.00","$10,028,781.00","$30,673","$34,251"
36,2005,"295,516,599","$9,382,761.00","$10,593,946.00","$31,750","$35,849"
37,2006,"298,379,912","$10,017,121.00","$11,372,589.00","$33,572","$38,114"
38,2007,"301,231,207","$10,511,373.00","$12,002,204.00","$34,895","$39,844"
39,2008,"304,093,966","$10,932,716.00","$12,438,527.00","$35,952","$40,904"
40,2009,"306,771,529","$10,900,400.00","$12,051,307.00","$35,533","$39,284"
41,2010,"309,327,143","$11,305,991.00","$12,541,995.00","$36,550","$40,546"
42,2011,"311,583,481","$11,863,823.00","$13,315,478.00","$38,076","$42,735"
43,2012,"313,877,662","$12,490,913.00","$13,998,383.00","$39,795","$44,598"
44,2013,"316,059,947","$12,501,275.00","$14,175,503.00","$39,553","$44,851"
45,2014,"318,386,329","$13,200,377.00","$14,982,715.00","$41,460","$47,058"
46,2015,"320,738,994","$13,779,697.00","$15,717,140.00","$42,962","$49,003"
47,2016,"323,071,755","$14,196,265.00","$16,151,881.00","$43,942","$49,995"
48,2017,"325,122,128","$14,894,009.00","$16,937,582.00","$45,811","$52,096"
49,2018,"326,838,199","$15,757,141.00","$17,839,255.00","$48,211","$54,581"
50,2019,"328,329,953","$16,342,277.00","$18,542,262.00","$49,774","$56,474"

In [4]:
# Show initial gdp_df
gdp_df

    Years         GDP
0    1969    962901.7
1    1970   1012299.3
2    1971   1097173.4
3    1972   1210292.4
4    1973   1356499.7
5    1974   1472024.2
6    1975   1602227.6
7    1976   1780497.3
8    1977   1986407.7
9    1978   2243230.1
10   1979   2489416.5
11   1980   2713932.7
12   1981   3057318.1
13   1982   3211369.7
14   1983   3445371.9
15   1984   3853668.0
16   1985   4126663.9
17   1986   4340812.6
18   1987   4649020.4
19   1988   5053003.3
20   1989   5366079.6
21   1990   5651746.7
22   1991   5842664.7
23   1992   6167644.2
24   1993   6467697.5
25   1994   6912843.5
26   1995   7299371.5
27   1996   7749965.4
28   1997   8284431.7
29   1997   8577552.0
30   1998   9062817.0
31   1999   9630663.0
32   2000  10252347.0
33   2001  10581822.0
34   2002  10936418.0
35   2003  11458246.0
36   2004  12213730.0
37   2005  13036637.0
38   2006  13814609.0
39   2007  14451860.0
40   2008  14712845.0
41   2009  14448932.0
42   2010  14992052.0
43   2011  15542582.0
44   2012  16197007.0
45   2013  16784851.0
46   2014  17527258.0
47   2015  18238301.0
48   2016  18745075.0
49   2017  19542980.0
50   2018  20611861.0
51   2019  21433226.0
52   2020  20936558.0

In [5]:
# Rename gdp_df "Years" to "Year" for easier merging
# Add GDP units to column name for readability
gdp_df = gdp_df.rename(columns={"Years": "Year", "GDP": "GDP (Dollars)"})

# Format GDP column
gdp_df["GDP (Dollars)"] = gdp_df["GDP (Dollars)"].map("${:,.2f}".format)

gdp_df.head()

   Year  GDP (Dollars)
0  1969    $962,901.70
1  1970  $1,012,299.30
2  1971  $1,097,173.40
3  1972  $1,210,292.40
4  1973  $1,356,499.70

In [6]:
# Merge gdp_df and income_df on year
gdp_income_df = pd.merge(gdp_df, income_df, how="outer", on="Year")

In [7]:
# Display combined df
gdp_income_df

,Year,GDP (Dollars),Population (No. of People),Disposable Personal Income (Millions of Dollars),Personal Income (Millions of Dollars),Per Capita Disposable Personal Income (Dollars),Per Capita Personal Income (Dollars)
0,1969,"$962,901.70","201,298,000","$687,425.00","$791,229.00","$3,415","$3,931"
1,1970,"$1,012,299.30","203,798,722","$753,099.00","$855,525.00","$3,695","$4,198"
2,1971,"$1,097,173.40","206,817,509","$823,437.00","$924,613.00","$3,981","$4,471"
3,1972,"$1,210,292.40","209,274,882","$893,321.00","$1,016,408.00","$4,269","$4,857"
4,1973,"$1,356,499.70","211,349,205","$1,001,571.00","$1,133,468.00","$4,739","$5,363"
5,1974,"$1,472,024.20","213,333,635","$1,094,397.00","$1,244,912.00","$5,130","$5,836"
6,1975,"$1,602,227.60","215,456,585","$1,215,359.00","$1,362,505.00","$5,641","$6,324"
7,1976,"$1,780,497.30","217,553,859","$1,323,488.00","$1,495,704.00","$6,083","$6,875"
8,1977,"$1,986,407.70","219,760,875","$1,454,268.00","$1,651,632.00","$6,618","$7,516"
9,1978,"$2,243,230.10","222,098,244","$1,626,753.00","$1,855,849.00","$7,324","$8,356"
10,1979,"$2,489,416.50","224,568,579","$1,805,001.00","$2,073,257.00","$8,038","$9,232"
11,1980,"$2,713,932.70","227,224,719","$2,014,396.00","$2,313,160.00","$8,865","$10,180"
12,1981,"$3,057,318.10","229,465,744","$2,248,034.00","$2,592,915.00","$9,797","$11,300"
13,1982,"$3,211,369.70","231,664,432","$2,426,023.00","$2,779,794.00","$10,472","$11,999"
14,1983,"$3,445,371.90","233,792,014","$2,616,717.00","$2,968,676.00","$11,192","$12,698"
15,1984,"$3,853,668.00","235,824,907","$2,902,515.00","$3,279,488.00","$12,308","$13,906"
16,1985,"$4,126,663.90","237,923,734","$3,093,703.00","$3,510,471.00","$13,003","$14,755"
17,1986,"$4,340,812.60","240,132,831","$3,282,912.00","$3,719,647.00","$13,671","$15,490"
18,1987,"$4,649,020.40","242,288,936","$3,458,192.00","$3,946,593.00","$14,273","$16,289"
19,1988,"$5,053,003.30","244,499,004","$3,763,033.00","$4,267,813.00","$15,391","$17,455"
20,1989,"$5,366,079.60","246,819,222","$4,043,179.00","$4,609,667.00","$16,381","$18,676"
21,1990,"$5,651,746.70","249,622,814","$4,304,512.00","$4,897,821.00","$17,244","$19,621"
22,1991,"$5,842,664.70","252,980,941","$4,479,825.00","$5,067,291.00","$17,708","$20,030"
23,1992,"$6,167,644.20","256,514,224","$4,798,176.00","$5,409,920.00","$18,705","$21,090"
24,1993,"$6,467,697.50","259,918,588","$5,000,936.00","$5,648,732.00","$19,240","$21,733"
25,1994,"$6,912,843.50","263,125,821","$5,247,927.00","$5,940,128.00","$19,945","$22,575"
26,1995,"$7,299,371.50","266,278,393","$5,538,573.00","$6,286,143.00","$20,800","$23,607"
27,1996,"$7,749,965.40","269,394,284","$5,836,986.00","$6,673,186.00","$21,667","$24,771"
28,1997,"$8,284,431.70","272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
29,1997,"$8,577,552.00","272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
30,1998,"$9,062,817.00","275,854,104","$6,570,164.00","$7,601,594.00","$23,818","$27,557"
31,1999,"$9,630,663.00","279,040,168","$6,890,679.00","$8,001,563.00","$24,694","$28,675"
32,2000,"$10,252,347.00","282,162,411","$7,415,075.00","$8,650,325.00","$26,279","$30,657"
33,2001,"$10,581,822.00","284,968,955","$7,763,912.00","$9,001,839.00","$27,245","$31,589"
34,2002,"$10,936,418.00","287,625,193","$8,104,480.00","$9,155,663.00","$28,177","$31,832"
35,2003,"$11,458,246.00","290,107,933","$8,478,455.00","$9,480,901.00","$29,225","$32,681"
36,2004,"$12,213,730.00","292,805,298","$8,981,157.00","$10,028,781.00","$30,673","$34,251"
37,2005,"$13,036,637.00","295,516,599","$9,382,761.00","$10,593,946.00","$31,750","$35,849"
38,2006,"$13,814,609.00","298,379,912","$10,017,121.00","$11,372,589.00","$33,572","$38,114"
39,2007,"$14,451,860.00","301,231,207","$10,511,373.00","$12,002,204.00","$34,895","$39,844"
40,2008,"$14,712,845.00","304,093,966","$10,932,716.00","$12,438,527.00","$35,952","$40,904"
41,2009,"$14,448,932.00","306,771,529","$10,900,400.00","$12,051,307.00","$35,533","$39,284"
42,2010,"$14,992,052.00","309,327,143","$11,305,991.00","$12,541,995.00","$36,550","$40,546"
43,2011,"$15,542,582.00","311,583,481","$11,863,823.00","$13,315,478.00","$38,076","$42,735"
44,2012,"$16,197,007.00","313,877,662","$12,490,913.00","$13,998,383.00","$39,795","$44,598"
45,2013,"$16,784,851.00","316,059,947","$12,501,275.00","$14,175,503.00","$39,553","$44,851"
46,2014,"$17,527,258.00","318,386,329","$13,200,377.00","$14,982,715.00","$41,460","$47,058"
47,2015,"$18,238,301.00","320,738,994","$13,779,697.00","$15,717,140.00","$42,962","$49,003"
48,2016,"$18,745,075.00","323,071,755","$14,196,265.00","$16,151,881.00","$43,942","$49,995"
49,2017,"$19,542,980.00","325,122,128","$14,894,009.00","$16,937,582.00","$45,811","$52,096"
50,2018,"$20,611,861.00","326,838,199","$15,757,141.00","$17,839,255.00","$48,211","$54,581"
51,2019,"$21,433,226.00","328,329,953","$16,342,277.00","$18,542,262.00","$49,774","$56,474"
52,2020,"$20,936,558.00",NaN,NaN,NaN,NaN,NaN

In [8]:
# Remove 2020 from df
gdp_income_df = gdp_income_df.dropna(axis="rows")

# Change index to year
gdp_income_df = gdp_income_df.set_index("Year")

In [9]:
# Display final, cleaned gdp/income df
gdp_income_df

,GDP (Dollars),Population (No. of People),Disposable Personal Income (Millions of Dollars),Personal Income (Millions of Dollars),Per Capita Disposable Personal Income (Dollars),Per Capita Personal Income (Dollars)
Year,,,,,,
1969,"$962,901.70","201,298,000","$687,425.00","$791,229.00","$3,415","$3,931"
1970,"$1,012,299.30","203,798,722","$753,099.00","$855,525.00","$3,695","$4,198"
1971,"$1,097,173.40","206,817,509","$823,437.00","$924,613.00","$3,981","$4,471"
1972,"$1,210,292.40","209,274,882","$893,321.00","$1,016,408.00","$4,269","$4,857"
1973,"$1,356,499.70","211,349,205","$1,001,571.00","$1,133,468.00","$4,739","$5,363"
1974,"$1,472,024.20","213,333,635","$1,094,397.00","$1,244,912.00","$5,130","$5,836"
1975,"$1,602,227.60","215,456,585","$1,215,359.00","$1,362,505.00","$5,641","$6,324"
1976,"$1,780,497.30","217,553,859","$1,323,488.00","$1,495,704.00","$6,083","$6,875"
1977,"$1,986,407.70","219,760,875","$1,454,268.00","$1,651,632.00","$6,618","$7,516"
1978,"$2,243,230.10","222,098,244","$1,626,753.00","$1,855,849.00","$7,324","$8,356"
1979,"$2,489,416.50","224,568,579","$1,805,001.00","$2,073,257.00","$8,038","$9,232"
1980,"$2,713,932.70","227,224,719","$2,014,396.00","$2,313,160.00","$8,865","$10,180"
1981,"$3,057,318.10","229,465,744","$2,248,034.00","$2,592,915.00","$9,797","$11,300"
1982,"$3,211,369.70","231,664,432","$2,426,023.00","$2,779,794.00","$10,472","$11,999"
1983,"$3,445,371.90","233,792,014","$2,616,717.00","$2,968,676.00","$11,192","$12,698"
1984,"$3,853,668.00","235,824,907","$2,902,515.00","$3,279,488.00","$12,308","$13,906"
1985,"$4,126,663.90","237,923,734","$3,093,703.00","$3,510,471.00","$13,003","$14,755"
1986,"$4,340,812.60","240,132,831","$3,282,912.00","$3,719,647.00","$13,671","$15,490"
1987,"$4,649,020.40","242,288,936","$3,458,192.00","$3,946,593.00","$14,273","$16,289"
1988,"$5,053,003.30","244,499,004","$3,763,033.00","$4,267,813.00","$15,391","$17,455"
1989,"$5,366,079.60","246,819,222","$4,043,179.00","$4,609,667.00","$16,381","$18,676"
1990,"$5,651,746.70","249,622,814","$4,304,512.00","$4,897,821.00","$17,244","$19,621"
1991,"$5,842,664.70","252,980,941","$4,479,825.00","$5,067,291.00","$17,708","$20,030"
1992,"$6,167,644.20","256,514,224","$4,798,176.00","$5,409,920.00","$18,705","$21,090"
1993,"$6,467,697.50","259,918,588","$5,000,936.00","$5,648,732.00","$19,240","$21,733"
1994,"$6,912,843.50","263,125,821","$5,247,927.00","$5,940,128.00","$19,945","$22,575"
1995,"$7,299,371.50","266,278,393","$5,538,573.00","$6,286,143.00","$20,800","$23,607"
1996,"$7,749,965.40","269,394,284","$5,836,986.00","$6,673,186.00","$21,667","$24,771"
1997,"$8,284,431.70","272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
1997,"$8,577,552.00","272,646,925","$6,156,053.00","$7,086,935.00","$22,579","$25,993"
1998,"$9,062,817.00","275,854,104","$6,570,164.00","$7,601,594.00","$23,818","$27,557"
1999,"$9,630,663.00","279,040,168","$6,890,679.00","$8,001,563.00","$24,694","$28,675"
2000,"$10,252,347.00","282,162,411","$7,415,075.00","$8,650,325.00","$26,279","$30,657"
2001,"$10,581,822.00","284,968,955","$7,763,912.00","$9,001,839.00","$27,245","$31,589"
2002,"$10,936,418.00","287,625,193","$8,104,480.00","$9,155,663.00","$28,177","$31,832"
2003,"$11,458,246.00","290,107,933","$8,478,455.00","$9,480,901.00","$29,225","$32,681"
2004,"$12,213,730.00","292,805,298","$8,981,157.00","$10,028,781.00","$30,673","$34,251"
2005,"$13,036,637.00","295,516,599","$9,382,761.00","$10,593,946.00","$31,750","$35,849"
2006,"$13,814,609.00","298,379,912","$10,017,121.00","$11,372,589.00","$33,572","$38,114"
2007,"$14,451,860.00","301,231,207","$10,511,373.00","$12,002,204.00","$34,895","$39,844"
2008,"$14,712,845.00","304,093,966","$10,932,716.00","$12,438,527.00","$35,952","$40,904"
2009,"$14,448,932.00","306,771,529","$10,900,400.00","$12,051,307.00","$35,533","$39,284"
2010,"$14,992,052.00","309,327,143","$11,305,991.00","$12,541,995.00","$36,550","$40,546"
2011,"$15,542,582.00","311,583,481","$11,863,823.00","$13,315,478.00","$38,076","$42,735"
2012,"$16,197,007.00","313,877,662","$12,490,913.00","$13,998,383.00","$39,795","$44,598"
2013,"$16,784,851.00","316,059,947","$12,501,275.00","$14,175,503.00","$39,553","$44,851"
2014,"$17,527,258.00","318,386,329","$13,200,377.00","$14,982,715.00","$41,460","$47,058"
2015,"$18,238,301.00","320,738,994","$13,779,697.00","$15,717,140.00","$42,962","$49,003"
2016,"$18,745,075.00","323,071,755","$14,196,265.00","$16,151,881.00","$43,942","$49,995"
2017,"$19,542,980.00","325,122,128","$14,894,009.00","$16,937,582.00","$45,811","$52,096"
2018,"$20,611,861.00","326,838,199","$15,757,141.00","$17,839,255.00","$48,211","$54,581"
2019,"$21,433,226.00","328,329,953","$16,342,277.00","$18,542,262.00","$49,774","$56,474"

In [10]:
# Export combined df to csv
gdp_income_df.to_csv("Output/gdp_income.csv")

# Export combined df to spreadsheet
gdp_income_df.to_excel("Output/gdp_income.xlsx")